<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}

  <body>
    {% include header.html %}
   {% for album in site.albums %}
   <img class="album-cover" src="{{ album.image | relative_url }}" />
   <p>{{ album.short_description }}</p>
    <h1 class="album-title">{{album.ranking}}. 
      <a href="{{ album.url }}">{{ album.title }}</a>
    </h1>
   {% endfor %}

   <!-- {% for film in site.films %}
   {% endfor %}

   {% for car-crash in site.car-crashes %}
   {% endfor %}

   {% for serie in site.series %}
   {% endfor %} -->
   {% include footer.html %}

  </body>
</html>
